doctype html
html
    head 
        title Currency Exchange  
    body
        
        block content 
        br 
        hr
        footer 
          p Shah's Money Exchange &copy; #{2019}
